/* FOOTER SECTION */

@use 'globals' as g;

footer{
    background-color: g.$primary;
    padding: 1.3rem 2rem 2rem 2rem;
    margin-top: 8rem;

    p{
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

footer a:hover{
    color: g.$green;
}

.footer-column{
    margin-top: 1rem;
}

.footer-text{
    color: white;
}

.footer-text ul{
    list-style-type: none;
    padding: 0;
}

.footer-text li{
    //margin-bottom: 0.3rem;
}


.footer-spacer{
    display: inline-block;
    width: 0.7rem;
}
.footer-link{
    display: block;
    margin-bottom: 0.8rem;
    
}

.wlt-white{

    width: 100%;
    max-width: 20rem;
    height: auto;
    margin-left: -1.3rem;
    content: url(Assets/logos/wlt-white.png);

    
}

.footer-icon{
    margin-left: -1.3rem;
    max-width: 5rem;
    content: url(Assets/logos/kings-icon.svg);
    
    
}


.footer-accessability{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}