$body-color: #231F20;
$body-bg: #F5F5F5;

$dark-purple:  #411763;
$purple:  #5B2A84;
$muted-purple:  #7152a3;
$green:   #b3d82b;
$green-light: #e5ebc3;
$light:   #F5F5F5;
$light-light:   #f0f0f0;
$light-dark: #F2F2F2;
$dark:    #231F20;
$muted:    #424242; 
$muted-light:    #7e7e7e; 



$primary:       $green;
$secondary:     $purple;
$success:       $dark-purple;